    <!-- FOOTER 1 -->
    <footer>
      <div class="container">
          <div class="row"><br><br>
              <div class="col-md-3">
                  <div>
                      <a href="index.html">
                          <img class="footer-logo" style="width: 212px;" src="assets/img/colorlogo.png" alt="logo">
                      </a>
                  </div>
                  <div>
                      <address class="margin-bottom-30">
                          <p>MIG-332<br/>
                          Darpan Colony,Thatipur,<br/>
                          Gwalior,Madhya Pradesh</p>
                      </address>
                  </div>
                  <div class="margin-bottom-30">
                      <p><i class="fa fa-phone"></i> +91 7000846823
                          <br/>
                          <i class="fa fa-fax"></i>  +91 7415289378</p>
                  </div>
                  <div>
                      <a routerLink="/">www.pninfosys.in</a>
                      <br/>
                      <a href="mailto:info@lautenschlager.de">support@pninfosys.in</a>
                      <br/>
                      <!-- <a href="mailto:hr@pninfosys.in">hr@pninfosys.in</a> -->

                  </div>
              </div>
              <div class="col-md-3 footer-menu">
                  <h4>About Us</h4>
                  <p class="text-justify">PN INFOSYS is a leading global business consulting and IT service company. We provides a full range of maintenance and compliance services for Government and Commercial facilities both large and small. Whether you need to run your business more efficiently or accelerate revenue growth, PN INFOSYS can get you there.</p>
                  <a routerLink="about">
                      <button class="btn btn-primary">Read More</button>
                  </a>
              </div>
              <div class="col-md-3 footer-blog">
                  <h4>COMPANIES WORKSHOP</h4>
                  <ul>
                      <li><a href="#">Xiaomi MI Company<br/></a> <a href="#">August 20 / Mr.Vaibhav Shrivastava </a></li>
                      <li><a href="#">Bentchair Company<br/></a> <a href="#">October 06 / Mr.Nicket Bansal </a></li>
                      <li><a href="#">MPCT College Gwalior<br/></a> <a href="#">November 02 / PN Infosys Team </a></li>
                      <li><a href="#">RJIT College Tekanpur<br/></a> <a href="#">Febuary 24 / PN Infosys Team </a></li>
                  </ul>
              </div>
              <div class="col-md-3  footer-menu">
                  <h4>VISIT PN INFOSYS</h4>
                  <ul>
                      <a routerLink="/" routerLinkActive="Active">
                          <li>Home</li>
                      </a>
                      <a routerLink="about" routerLinkActive="Active">
                          <li>About US</li>
                      </a>
                      <a routerLink="service" routerLinkActive="Active">
                          <li>Service</li>
                      </a>
                      <a routerLink="training" routerLinkActive="Active">
                          <li>Training</li>
                      </a>
                      <a routerLink="contact" routerLinkActive="Active">
                          <li>Contact US</li>
                      </a>
                      <a href="http://internship2019.pneducation.website/" target="_blank">
                          <li>Internship</li>
                      </a>
                  </ul>
              </div>

          </div>
      </div>
  </footer>
  
  <!-- FOOTER 2 -->
  <footer class="page-section-no-padding  footer2-container">
      <div class="container">
          <div class="row"><br>
              <!-- Copyright -->
              <div class="col-xs-6">
                  <p style="color: black;">Follow me on <a href="https://twitter.com/lautenschlagera" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #38A1F3;"><path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"></path></svg></a></p>
                   <p style="color: black;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">&copy; Copyright 2019. All Rights Reserved | <b> PN INFOSYS IT COMPANY IN GWALIOR </b>!</p>
              </div>

              <!-- Social Links -->
              <div class="text-right col-xs-6 footer2-social-container">
                  <a href="#" title="Facebook" target="_blank"><i style="color: black;" class="fa fa-facebook"></i></a>&nbsp;&nbsp;
                  <a href="#" title="Google-plus" target="_blank"><i style="color: black;" class="fa fa-google-plus"></i></a>&nbsp;&nbsp;
                  <a href="#" title="Twitter" target="_blank"><i style="color: black;" class="fa fa-twitter"></i></a>&nbsp;&nbsp;
                  <a href="#" title="Behance" target="_blank"><i style="color: black;" class="fa fa-behance"></i></a>&nbsp;&nbsp;
                  <a href="#" title="Pinterest" target="_blank"><i style="color: black;" class="fa fa-pinterest"></i></a>&nbsp;&nbsp;
                  <a href="#" title="Youtube" target="_blank"><i style="color: black;" class="fa fa-youtube"></i></a>&nbsp;&nbsp;
                  <a href="#" title="Dribbble" target="_blank"><i style="color: black;" class="fa fa-dribbble"></i></a>&nbsp;&nbsp;
              </div>
          </div>
      </div>
  </footer>
