   <!-- Page Header -->
   <div class="page-header">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <ul class="breadcrumb">
                      <li><a href="index.html">Home</a></li>
                      <li>Services</li>
                  </ul>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <h1>Services</h1>
              </div>
          </div>
      </div>
  </div>


 


  <!-- Full Width Container  -->
  <section class="page-section padding-30">
      <div class="container">
          <div class="row">
              <!-- Content -->
              <div class="col-md-12">
                  <h3>PN Services</h3>
                  <p class="lead">
                      PN INFOSYS provides the best service possible to its customers because for us, our client’s happiness is important. Whatever we choose to do, we do it an exorbitant manner.
                  </p>
                  <img class="pull-right" src="assets/img/service.png" alt="">
                  <p>PN INFOSYS Company provides a full range of maintenance and compliance services for Government and Commercial facilities both large and small. </p>
                  <p>PN INFOSYS believes in developing true partnerships. We foster a collegial environment where individual perspectives are respected and honest dialogue is expected. </p>
                  <p>PN INFOSYS brings robust skills and forward looking perspectives to solve customer challenges. We use proven knowledge to make recommendations and provide expert guidance to our customers.</p>
                  <p>PN INFOSYS is driven to meet client needs with determination and grit. We embrace tough challenges and do not rest until the problem is solved, the right way. </p>
                  
                  <button class="btn btn-primary">More Information</button>
              </div>
          </div>
      </div>
  </section>

     <!-- Intro -->
     <section class="page-section padding-30">
        <div class="container intro">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="title-section"><span class="title-regular">Technology solutions to help businesses and societies flourish</span>                      </h1>
                    <hr class="title-underline-center">
                    <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                        <br/> eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Full Spotlight left-->
    <section class="page-section-no-padding">
        <div class="container-fluid">
            <div class="row">
                <div class="container col-md-6">
                    <div class="row">
                        <div class="col-md-7 col-md-offset-4 spotlight-container">
                            <h2 class="title-section"><span class="title-regular">Digital</span><br/>Marketing</h2>
                            <hr class="title-underline" />
                            <p>
                                  Our digital marketing services help you strategize, implement, run and maintain successful omni-channel marketing and multi-lingual digital marketing solutions.
                            </p>
                            <a href="#" class="btn btn-primary">More Information</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 spotlight-img-cont img-circle" style="background-image: url(assets/img/blog2.png)"> </div>
            </div>
        </div>
    </section>
  
  
    <!-- Full Spotlight right-->
    <section class="page-section-no-padding">
        <div class="container-fluid">
            <div class="row">
                <div class="container col-md-6 col-md-push-6">
                    <div class="row">
                        <div class="col-md-7 col-md-offset-1 spotlight-container">
                            <h2 class="title-section"><span class="title-regular">Application</span><br/>Development</h2>
                            <hr class="title-underline" />
                            <p class="text-justify">
                                  In today’s 24/7 business environment, application failure or unexpected downtime can frustrate end users and devastate your bottom line. As budgets shrink and application environments grow more complex, it pays to have an experienced IT strategy partner who can specialize in application development and application support.
                          </p>
                            <a href="#" class="btn btn-primary">More Information</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-md-pull-6 spotlight-img-cont img-circle" style="background-image: url(assets/img/blog3.jpg); "> </div>
            </div>
        </div>
    </section>

         <!-- Call to Action Primary -->
         <section class="cta cta-primary">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="assets/img/phone.png" style="height: 50px;float: left;">
                        <h2>&nbsp;PN Infosys <span>Smart Solution</span></h2>
                    </div>
                    <div class="col-md-2 col-md-push-4 cta-button">
                        <a href="#demos" class="btn btn-primary">Contact US</a>
                    </div>
                </div>
            </div>
        </section>
  
    <!-- Full Spotlight left 2-->
    <section class="page-section-no-padding">
          <div class="container-fluid">
              <div class="row">
                  <div class="container col-md-6">
                      <div class="row">
                          <div class="col-md-7 col-md-offset-4 spotlight-container">
                              <h2 class="title-section"><span class="title-regular">WEB</span><br/>DEVELOPMENT</h2>
                              <hr class="title-underline" />
                              <p class="text-justify">
                                      We provide Fully responsive designs which support every device. We provide both Web designing and web development. We have worked on various world class websites all over the world.
                              </p>
                              <a href="#" class="btn btn-primary">More Information</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 spotlight-img-cont img-circle" style="background-image: url(assets/img/blog4.jpg)"> </div>
              </div>
          </div>
      </section>
    
    
      <!-- Full Spotlight right 2-->
      <section class="page-section-no-padding">
          <div class="container-fluid">
              <div class="row">
                  <div class="container col-md-6 col-md-push-6">
                      <div class="row">
                          <div class="col-md-7 col-md-offset-1 spotlight-container">
                              <h2 class="title-section"><span class="title-regular">SOFTWARE</span><br/>DEVELOPMENT</h2>
                              <hr class="title-underline" />
                              <p class="text-justify">
                                      Highly Customized software solutions that support a unique combination of platforms and applications that address cross-functional business requirements of our clients. We provide affordable and efficient softwares.
                              </p>
                              <a href="#" class="btn btn-primary">More Information</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-md-pull-6 spotlight-img-cont img-circle" style="background-image: url(assets/img/blog5.jpg); "> </div>
              </div>
          </div>
      </section><hr>



