
  <!-- Page Header -->
  <div class="page-header">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <ul class="breadcrumb">
                      <li><a href="index.html">Home</a></li>
                      <li>Contact</li>
                  </ul>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <h1>Contact</h1>
              </div>
          </div>
      </div>
  </div>





  <!-- CONTAKT US-->
  <section class="page-section">
      <div class="container">
          <div class="row ">

              <div class="col-md-8">
                  <h2 class="title-section"><span class="title-regular">CONTACT</span><br/>US</h2>
                  <hr class="title-underline " />
                  <h3 class="text-center">GET IN TOUCH WITH US</h3>
                  <p>We always work harder on every project for our clients in India & USA.</p>
                  <div class="form-group">
                      <input type="text" class="form-control" id="usr" placeholder="NAME">
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" id="email" placeholder="EMAIL">
                  </div>
                  <div class="form-group">
                      <textarea class="form-control" rows="5" id="message" placeholder="MESSAGE"></textarea>
                  </div>
                  <button type="button" class="btn btn-default">SEND <i class="fa fa-envelope"></i></button>
              </div>
              <div class="col-md-4">
                  <h3>More Info</h3>
                  <p class="text-justify">PN INFOSYS provides the best service possible to its customers because for us, our client’s happiness is important. Whatever we choose to do, we do it an exorbitant manner.

                    PN INFOSYS Company provides a full range of maintenance and compliance services for Government and Commercial facilities both large and small.</p>
                  <p><strong>Address:</strong>
                      <br/>MIG-332
                      <br/>Darpan Colony Thatipur
                      <br/>Gwalior Madhya Pradesh</p>
                  <p><strong>Phone:</strong> 7000846823</p>
                  <p><strong>Phone:</strong> 7415289378</p>
                  <p><strong>Office Time :</strong> 9am to 8:30pm</p>
              </div>
          </div>
      </div>
  </section><br>
