   <!-- Page Header -->
   <div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li>Training</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Training</h1>
            </div>
        </div>
    </div>
</div>


    <!-- About -->
    <section class="page-section">
      <div class="container ">
          <div class="row">
              <div class="col-md-8 col-md-push-4">
                  <div class="col-md-12"><br><br>
                      <h2 class="title-section"><span class="title-regular">Helping </span><br/>Hands</h2>
                      <hr class="title-underline" />
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                        <p class="text-justify">We have capability to train even novice students, students who don’t have any experience with coding can work efficiently in our training sessions. We need only adamant students who are disciplined enough to pay attention and have that urge in them for learning new things. You will have the experience to work on Live Projects, which will ameliorate your portfolio.
                          <br/>Basically through these training sessions, we want to help students to grow, Our training sessions are helping hands for adamant students.</p>
                      </div>
                  </div>
                
              </div>
              <div class="col-md-4 col-md-pull-8 ">
                  <img class="img-responsive" src="assets/img/training.jpg" alt="" />
              </div>
          </div>
      </div>
  </section>


<section class="page-section padding-10">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h2 class="title-section"><span class="title-regular">What You Will </span><br/>Learn...</h2>
                <hr class="title-underline-center" />
            </div>
        </div>
    </div>
    <div class="container team-member">
        <div class="row">
            <div class="col-md-8">
                <img src="assets/img/capture.jpg" class="img-responsive" alt=""><br>
                <img src="assets/img/capture2.jpg" class="img-responsive" alt=""><br>
                <img src="assets/img/capture3.jpg" class="img-responsive" alt=""><br>

            </div>
        </div>
    </div>
</section>
<hr>
    <!-- Testmonials -->
    <section class="page-section">
      <div class="container testmonial-container">
          <div class="row">
              <div class="col-md-12 text-center">
                  <h2 class="title-section"><span class="title-regular">Internship</span><br/>Experience</h2>
                  <hr class="title-underline col-centered" />
                  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore </p>
              </div>
          </div>
          <div class="row">
              <div class="col-md-4 testmonial">
                  <img src="assets/img/int1.png" class="img-responsive img-circle" alt="">
                  <blockquote>
                    <h2>100% Practical Training</h2>
                      <p class="m-b-0">We don't use paper and pencil at all in our training sessions.</p>
                      <footer class="blockquote-footer">PN Infosys Software <cite title="Source Title">Company</cite></footer>
                  </blockquote>
              </div>
              <div class="col-md-4 testmonial">
                  <img src="assets/img/int1.png" class="img-responsive img-circle" alt="">
                  <blockquote>
                      <h2>Live Projects</h2>

                      <p class="m-b-0">We make you work on Live projects, in order to strengthen your portfolio.</p>
                      <footer class="blockquote-footer">PN Infosys Software <cite title="Source Title">Company</cite></footer>
                  </blockquote>
              </div>
              <div class="col-md-4 testmonial">
                  <img src="assets/img/int1.png" class="img-responsive img-circle" alt="">
                  <blockquote>
                    <h2>Innovative Ideas</h2>
                      <p class="m-b-0">We always inbuilt innovation in our training sessions, to learn something new.</p>
                      <footer class="blockquote-footer">PN Infosys Software <cite title="Source Title">Company</cite></footer>
                  </blockquote>
              </div>
          </div>
      </div>
  </section>

  <section class="page-section  padding-30">

      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h4>Ready to start your application :</h4>
              </div>
              <div class="col-md-6">
                  <h2>Early admission deadline:</h2>
                  <p>April 15, 2018. When you apply, we’ll make a decision within 2-4 weeks. Once you’re accepted, you can start open courses right away!</p>
              </div>
              <div class="col-md-6">
                  <h2>Early admission deadline:</h2>

                  <p>April 15, 2018. When you apply, we’ll make a decision within 2-4 weeks. Once you’re accepted, you can start open courses right away!</p>
              </div>
          </div>
      </div>
  </section>




