    <!-- Page Header -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li>Bentchair Company</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Bentchair Company</h1>
                </div>
            </div>
        </div>
    </div>





    <!-- Image Filter -->
    <section class="filter-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <h1>Xiaomi Workshop Gallery</h1>



                    <div class="filter-container isotopeFilters">
                        <ul class="list-inline filter">
                            <li class="active"><a href="#" data-filter="*">All </a><span>/</span></li>
                            <li><a href="#" data-filter=".red">Red</a><span>/</span></li>
                            <li><a href="#" data-filter=".orange">Orange</a><span>/</span></li>
                            <li><a href="#" data-filter=".purple">Purple</a><span>/</span></li>
                            <li><a href="#" data-filter=".blue">Blue</a><span>/</span></li>
                            <li><a href="#" data-filter=".white">White</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Images -->
    <section class="portfolio-section port-col">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="grid isotopeContainer">
                        <div class="grid-sizer gallery"></div>
                        <div class="grid-item isotopeSelector purple isotpe-gallery">
                            <article class="">
                                <figure>
                                    <img src="assets/img/gallery/m1.jpg" alt="">
                                    <div class="overlay-background">
                                        <div class="inner"></div>
                                    </div>
                                    <div class="overlay">
                                        <div class="inner-overlay">
                                            <div class="inner-overlay-content with-icons">
                                                <a class="fancybox-thumb fancybox.image" rel="fancybox-thumb" href="http://placehold.it/900x600" title="Gallery 1">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </article>
                        </div>
                        <div class="grid-item isotopeSelector blue isotpe-gallery">
                            <article class="">
                                <figure>
                                    <img src="assets/img/gallery/m2.jpg" alt="">
                                    <div class="overlay-background">
                                        <div class="inner"></div>
                                    </div>
                                    <div class="overlay">
                                        <div class="inner-overlay">
                                            <div class="inner-overlay-content with-icons">
                                                <a class="fancybox-thumb fancybox.image" rel="fancybox-thumb" href="http://placehold.it/900x1200" title="Gallery 2">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </article>
                        </div>
                        <div class="grid-item isotopeSelector orange red isotpe-gallery">
                            <article class="">
                                <figure>
                                    <img src="assets/img/gallery/m3.jpg" alt="">
                                    <div class="overlay-background">
                                        <div class="inner"></div>
                                    </div>
                                    <div class="overlay">
                                        <div class="inner-overlay">
                                            <div class="inner-overlay-content with-icons">
                                                <a class="fancybox-thumb fancybox.image" rel="fancybox-thumb" href="http://placehold.it/900x600" title="Gallery 3">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </article>
                        </div>
                        <div class="grid-item isotopeSelector orange isotpe-gallery">
                            <article class="">
                                <figure>
                                    <img src="http://placehold.it/900x1200" alt="">
                                    <div class="overlay-background">
                                        <div class="inner"></div>
                                    </div>
                                    <div class="overlay">
                                        <div class="inner-overlay">
                                            <div class="inner-overlay-content with-icons">
                                                <a class="fancybox-thumb fancybox.image" rel="fancybox-thumb" href="http://placehold.it/900x1200" title="Gallery 4">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </article>
                        </div>
                        <div class="grid-item isotopeSelector blue isotpe-gallery">
                            <article class="">
                                <figure>
                                    <img src="http://placehold.it/900x600" alt="">
                                    <div class="overlay-background">
                                        <div class="inner"></div>
                                    </div>
                                    <div class="overlay">
                                        <div class="inner-overlay">
                                            <div class="inner-overlay-content with-icons">
                                                <a class="fancybox-thumb fancybox.image" rel="fancybox-thumb" href="http://placehold.it/900x600" title="Gallery 5">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </article>
                        </div>
                        <div class="grid-item isotopeSelector white isotpe-gallery">
                            <article class="">
                                <figure>
                                    <img src="http://placehold.it/900x1200" alt="">
                                    <div class="overlay-background">
                                        <div class="inner"></div>
                                    </div>
                                    <div class="overlay">
                                        <div class="inner-overlay">
                                            <div class="inner-overlay-content with-icons">
                                                <a class="fancybox-thumb fancybox.image" rel="fancybox-thumb" href="http://placehold.it/900x1200" title="Gallery 6">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </article>
                        </div>
                        <div class="grid-item isotopeSelector white purple isotpe-gallery">
                            <article class="">
                                <figure>
                                    <img src="http://placehold.it/900x600" alt="">
                                    <div class="overlay-background">
                                        <div class="inner"></div>
                                    </div>
                                    <div class="overlay">
                                        <div class="inner-overlay">
                                            <div class="inner-overlay-content with-icons">
                                                <a class="fancybox-thumb fancybox.image" rel="fancybox-thumb" href="http://placehold.it/900x600" title="Gallery 7">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </article>
                        </div>
                        <div class="grid-item isotopeSelector purple white isotpe-gallery">
                            <article class="">
                                <figure>
                                    <img src="http://placehold.it/900x700" alt="">
                                    <div class="overlay-background">
                                        <div class="inner"></div>
                                    </div>
                                    <div class="overlay">
                                        <div class="inner-overlay">
                                            <div class="inner-overlay-content with-icons">
                                                <a class="fancybox-thumb fancybox.image" rel="fancybox-thumb" href="http://placehold.it/900x700" title="Gallery 8">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </article>
                        </div>
                        <div class="grid-item isotopeSelector purple isotpe-gallery">
                            <article class="">
                                <figure>
                                    <img src="http://placehold.it/900x700" alt="">
                                    <div class="overlay-background">
                                        <div class="inner"></div>
                                    </div>
                                    <div class="overlay">
                                        <div class="inner-overlay">
                                            <div class="inner-overlay-content with-icons">
                                                <a class="fancybox-thumb fancybox.image" rel="fancybox-thumb" href="http://placehold.it/900x700" title="Gallery 9">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




